<!DOCTYPE html>
<html>
  <head>
    <title>TechTalentBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--add nav bar, etc here 1 time--> 


<div class="container">
  <div class="pull-right">
    <% if user_signed_in? %>
      Welcome, <%= current_user.username %>! 
      <%= gravatar_tag current_user.email, size: 20 %>
      <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-primary" %> 
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete, 
      class: "btn btn-danger" %>
    <% end %>
  </div>
</div>

    <%= yield %>
  </body>
</html>
